In [1]:
!pip install pandas
!pip install scikit-learn

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.13/site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (2.3.2)
Requirement already satisfied: scipy>=1.8.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (3.6.0)

In [2]:
import pandas as pd
from scipy.stats import zscore

## Read in data

In [3]:
df = pd.read_csv("customer_purchase_sample.csv")

## Fill in missing values

### Check for missing values

In [4]:
df_na = df[df.isna().any(axis=1)]
df_na

,age,income,location,device,referral_source,campaign,pages_viewed,time_on_site_sec,is_returning_user,prior_purchases,days_since_last_visit,emails_opened_30d,ad_clicks_30d,purchased
10,48,NaN,South,desktop,search,spring_sale,10,7200.0,1,0,3,0,0,1
35,21,NaN,West,mobile,search,none,3,256.0,1,0,22,2,2,0
42,57,57912.18,South,mobile,search,new_arrivals,9,NaN,1,2,3,0,2,1
51,29,NaN,Northeast,mobile,search,spring_sale,8,83.0,1,1,4,0,0,0
55,20,81440.85,NaN,desktop,search,none,3,107.0,1,0,4,1,1,0
69,44,NaN,Midwest,desktop,search,spring_sale,12,83.0,1,0,53,2,1,0
89,65,NaN,South,desktop,direct,none,8,96.0,0,1,2,3,0,0
99,25,90297.20,NaN,mobile,search,none,7,164.0,1,1,18,1,1,1
102,63,91846.85,South,mobile,search,loyalty_push,7,NaN,0,0,4,1,1,1
104,63,NaN,South,desktop,search,spring_sale,10,NaN,1,1,11,0,1,0
108,44,67278.79,Northeast,desktop,search,none,2,NaN,0,0,13,0,0,1
110,33,121175.61,NaN,desktop,search,loyalty_push,7,296.0,1,0,13,4,0,1
123,44,52096.43,NaN,mobile,search,none,7,201.0,1,0,7,2,0,0
126,22,NaN,Midwest,desktop,social,none,9,376.0,0,0,0,3,0,1
144,74,95552.69,South,mobile,search,none,8,NaN,0,1,4,0,0,0
146,19,85002.53,NaN,mobile,search,spring_sale,12,175.0,0,0,19,1,0,0
152,70,96575.40,NaN,desktop,direct,none,8,273.0,0,0,1,1,1,0
154,42,NaN,South,mobile,search,none,8,209.0,1,1,10,1,1,0
206,61,69451.60,Midwest,desktop,social,none,12,NaN,1,0,0,1,2,1
224,59,NaN,West,mobile,social,none,7,10.0,1,1,47,2,2,0
229,28,67871.69,NaN,tablet,direct,none,5,40.0,0,1,36,0,1,0
242,23,NaN,Northeast,mobile,social,none,10,253.0,1,0,4,1,1,0
243,55,62692.35,NaN,mobile,search,none,6,92.0,1,1,0,2,3,0

In [5]:
df.head(12)

,age,income,location,device,referral_source,campaign,pages_viewed,time_on_site_sec,is_returning_user,prior_purchases,days_since_last_visit,emails_opened_30d,ad_clicks_30d,purchased
0,23,125775.63,Northeast,mobile,email,new_arrivals,8,115.0,1,2,47,0,0,0
1,62,110053.34,Northeast,desktop,direct,none,9,249.0,1,1,4,6,1,1
2,55,95706.13,West,mobile,social,none,9,154.0,0,1,12,0,1,1
3,43,128899.09,Midwest,tablet,social,none,4,133.0,1,2,1,0,0,0
4,42,49337.11,Northeast,mobile,direct,none,6,306.0,0,0,5,0,0,0
5,66,65807.45,Northeast,mobile,search,none,6,85.0,1,0,14,0,0,0
6,22,57202.72,Midwest,desktop,search,spring_sale,8,108.0,0,0,45,1,1,0
7,57,73305.71,South,mobile,search,spring_sale,8,199.0,0,0,49,2,1,0
8,29,43699.42,West,mobile,email,none,6,215.0,1,0,0,1,0,1
9,23,104054.53,South,mobile,direct,spring_sale,5,224.0,1,0,14,0,0,0
10,48,NaN,South,desktop,search,spring_sale,10,7200.0,1,0,3,0,0,1
11,73,40875.81,West,desktop,email,none,7,197.0,0,0,31,1,1,0

Get the mode (most common) location

In [6]:
location_mode = df["location"].mode()[0]
location_mode

'Northeast'

Fill missing values with mean or mode

In [7]:
df["income"] = df["income"].fillna(df["income"].mean())
df["time_on_site_sec"] = df["time_on_site_sec"].fillna(df["time_on_site_sec"].mean())
df["location"] = df["location"].fillna(location_mode)

In [8]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [age, income, location, device, referral_source, campaign, pages_viewed, time_on_site_sec, is_returning_user, prior_purchases, days_since_last_visit, emails_opened_30d, ad_clicks_30d, purchased]
Index: []

## Scale numeric variables

In [9]:
df['income'] = zscore(df['income'])
df['pages_viewed'] = zscore(df['pages_viewed'])
df['time_on_site_sec'] = zscore(df['time_on_site_sec'])
df['prior_purchases'] = zscore(df['prior_purchases'])
df['days_since_last_visit'] = zscore(df['days_since_last_visit'])
df['emails_opened_30d'] = zscore(df['emails_opened_30d'])
df['ad_clicks_30d'] = zscore(df['ad_clicks_30d'])

In [10]:
df.head(12)

,age,income,location,device,referral_source,campaign,pages_viewed,time_on_site_sec,is_returning_user,prior_purchases,days_since_last_visit,emails_opened_30d,ad_clicks_30d,purchased
0,23,1.254536e+00,Northeast,mobile,email,new_arrivals,0.077357,-0.222350,1,1.685035,2.240592,-1.025078,-0.865744,0
1,62,7.535704e-01,Northeast,desktop,direct,none,0.245524,0.074710,1,0.427546,-0.724248,4.066371,0.285511,1
2,55,2.964196e-01,West,mobile,social,none,0.245524,-0.135892,0,0.427546,-0.172650,-1.025078,0.285511,1
3,43,1.354060e+00,Midwest,tablet,social,none,-0.595312,-0.182446,1,1.685035,-0.931098,-1.025078,-0.865744,0
4,42,-1.181055e+00,Northeast,mobile,direct,none,-0.258978,0.201071,0,-0.829943,-0.655299,-1.025078,-0.865744,0
5,66,-6.562538e-01,Northeast,mobile,search,none,-0.258978,-0.288855,1,-0.829943,-0.034751,-1.025078,-0.865744,0
6,22,-9.304296e-01,Midwest,desktop,search,spring_sale,0.077357,-0.237868,0,-0.829943,2.102693,-0.176504,0.285511,0
7,57,-4.173338e-01,South,mobile,search,spring_sale,0.077357,-0.036133,0,-0.829943,2.378492,0.672071,0.285511,0
8,29,-1.360691e+00,West,mobile,email,none,-0.258978,-0.000663,1,-0.829943,-1.000048,-0.176504,-0.865744,1
9,23,5.624280e-01,South,mobile,direct,spring_sale,-0.427145,0.019289,1,-0.829943,-0.034751,-1.025078,-0.865744,0
10,48,-9.273468e-16,South,desktop,search,spring_sale,0.413691,15.484123,1,-0.829943,-0.793198,-1.025078,-0.865744,1
11,73,-1.450660e+00,West,desktop,email,none,-0.090810,-0.040567,0,-0.829943,1.137396,-0.176504,0.285511,0

## One-hot encode categorical data

In [11]:
def one_hot(df, cols):
    """
    @param df pandas DataFrame
    @param cols a list of columns to encode 
    @return a DataFrame with one-hot encoding
    """
    for each in cols:
        dummies = pd.get_dummies(df[each], prefix=each, drop_first=False)
        df = pd.concat([df, dummies], axis=1)
    return df

In [12]:
one_hot(df, ["location", "device", "referral_source", "campaign"])

,age,income,location,device,referral_source,campaign,pages_viewed,time_on_site_sec,is_returning_user,prior_purchases,...,device_tablet,referral_source_ads,referral_source_direct,referral_source_email,referral_source_search,referral_source_social,campaign_loyalty_push,campaign_new_arrivals,campaign_none,campaign_spring_sale
0,23,1.254536,Northeast,mobile,email,new_arrivals,0.077357,-0.222350,1,1.685035,...,False,False,False,True,False,False,False,True,False,False
1,62,0.753570,Northeast,desktop,direct,none,0.245524,0.074710,1,0.427546,...,False,False,True,False,False,False,False,False,True,False
2,55,0.296420,West,mobile,social,none,0.245524,-0.135892,0,0.427546,...,False,False,False,False,False,True,False,False,True,False
3,43,1.354060,Midwest,tablet,social,none,-0.595312,-0.182446,1,1.685035,...,True,False,False,False,False,True,False,False,True,False
4,42,-1.181055,Northeast,mobile,direct,none,-0.258978,0.201071,0,-0.829943,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,22,0.148671,South,desktop,search,spring_sale,-0.763479,-0.217916,1,-0.829943,...,False,False,False,False,True,False,False,False,False,True
246,61,0.762435,West,mobile,search,none,-0.258978,0.221023,0,-0.829943,...,False,False,False,False,True,False,False,False,True,False
247,41,-0.033792,West,tablet,search,none,-0.931647,0.070276,0,-0.829943,...,True,False,False,False,True,False,False,False,True,False
248,62,1.225642,Northeast,desktop,social,none,0.750026,0.050325,1,-0.829943,...,False,False,False,False,False,True,False,False,True,False
249,20,0.774297,Midwest,desktop,search,none,0.077357,0.043674,1,0.427546,...,False,False,False,False,True,False,False,False,True,False